/* @import url(../style/style.css); */
/* ---------------------------------------- */
body{
    direction: rtl;
    font-family: Sans;
    background-color: #02020f;
    position: relative;
    user-select: none;
    user-zoom: none;
}
#panel .post {
    position: relative;
}
#panel .info--panel {
    text-align: center;
}
#panel .info--panel .info---h1{
    color: rgb(189, 189, 189);
    font-family: aviny;
    text-shadow: 8px 4px 8px rgb(18, 122, 182);
}
#panel .info--user {
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin:15px;
    overflow: hidden;
    text-align: right;
    vertical-align: top;
    background: linear-gradient(to left, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
#panel .list--info{
    text-align: center;
}
/* #panel .download .post span {
    position: absolute;
    top: 22px;
    left: 4px;
    padding: 3px;
    cursor: pointer;
} */
#nav-icon,#nav-icon1,#nav-icon2 {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  /* #nav-icon span:nth-child(1){
      top: 5px;
  } */
  #nav-icon span:nth-child(1),#nav-icon1 span:nth-child(1),#nav-icon2 span:nth-child(1){
      top: 12px;
      left: 5px;
  }
  #nav-icon span:nth-child(2),#nav-icon1 span:nth-child(2),#nav-icon2 span:nth-child(2){
    top: 22px;
    left: 5px;
}
#nav-icon span:nth-child(3),#nav-icon1 span:nth-child(3),#nav-icon2 span:nth-child(3){
    top: 22px;
    left: 5px;
}
#nav-icon span:nth-child(4),#nav-icon1 span:nth-child(4),#nav-icon2 span:nth-child(4){
    top: 32px;
    left: 5px;
}
  #nav-icon span,#nav-icon1 span,#nav-icon2 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 32px;
    background-color: #d3981a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon.open span:nth-child(1),#nav-icon1.open span:nth-child(1), 
  #nav-icon2.open span:nth-child(1) {
    top: 22px;
    opacity: 0;
    height: 0;
    
  }
  #nav-icon.open span:nth-child(4),#nav-icon1.open span:nth-child(4), 
  #nav-icon2.open span:nth-child(4) {
    bottom: 22px;
    opacity: 0;
    height: 0;
  }
  #nav-icon.open span:nth-child(2),  #nav-icon1.open span:nth-child(2),  #nav-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon.open span:nth-child(3),  #nav-icon1.open span:nth-child(3),  #nav-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
#panel .info--user .info--plan {
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-family: sans;
    transition: 0.5s;
    background: linear-gradient(to left,rgb(44, 83, 100), rgb(32, 58, 67),rgb(15, 32, 39));
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
}

.download .list--info {
    display: none;
}
#panel .left {
    font-family: 'sans','Nunito-LightItalic';
    font-weight: 100;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    text-align: left;
    display: block;
    line-height: 200%;
    background: linear-gradient(to left,rgb(44, 83, 100), rgb(32, 58, 67),rgb(15, 32, 39));
}
#panel .lists--info #sec-privet{
    text-align: left;
    display: inline-block;
    width: 190px;
    height: 42px;
    overflow: auto;
    line-height: 150%;
    transform: translateY(18px);
}
#panel .info--user .list--info {
    line-height: 320%;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-family: sans;
}
#panel .logout {
    text-align: center;
    margin: 25px 0;
}
#panel .logout a {
    display: inline-block;
    color: rgb(189, 189, 189);
    padding:0 5px 8px 5px;
    border-bottom: 1px solid rgb(218, 165, 32);
}
#panel #check-active.active{
    color: rgb(0, 255, 0);
    letter-spacing: 1px;
    background-color: rgb(31, 31, 31);
}
#panel #check-active.onactive{
    color: rgb(255, 25, 0);
    letter-spacing: 1px;
    background-color: rgb(31, 31, 31);
}
/* ------------------------------- media ------------------------ */

@media screen and (min-width:1140px){
    #panel .info--panel .info---h1 {
        margin:0 auto 10px auto;
        font-size: 44px;
    }
}












#arz {
    width: 70%;
    margin: auto;
}
#arz p{
    display: inline-block;
    color: #d3981a;
    direction: rtl;
    padding: 4px;
    margin: 8px;
    width: 30%;
    border: 1px solid;
}