@import url(../style/style.css);
/* ---------------------------------------- */
body{
    direction: rtl;
    font-family: Sans;
    background-color: #02020f;
    position: relative;
    user-select: none;
    user-zoom: none;
}
#panel .post {
    position: relative;
}
#panel .info--panel {
    text-align: center;
}
#panel .info--panel .info---h1{
    color: rgb(189, 189, 189);
    font-family: aviny;
    text-shadow: 8px 4px 8px rgb(18, 122, 182);
}
#panel .info--user {
    display: inline-block;
    box-shadow: 0 0 10px 1px rgb(18, 122, 182);
    border: 1px solid rgb(32, 82, 218);
    border-radius: 5px;
    margin:15px;
    overflow: hidden;
    text-align: right;
    vertical-align: top;
}
#panel .info--user:nth-child(2){
    text-align: center;
    background: linear-gradient(to left, rgb(142, 45, 226), rgb(74, 0, 224));
}
#panel .info--user:nth-child(3){
    text-align: center;
    background: linear-gradient(to left, rgb(0, 176, 155), rgb(150, 201, 61));
}
#panel .info--user:nth-child(5){
    background: linear-gradient(to left, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
#panel .info--user:nth-child(6){
    background: linear-gradient(to left, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
#panel .info--user:nth-child(7){
    background: linear-gradient(to left, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
#panel .download {
    height: auto;
}
#panel .download .post span {
    position: absolute;
    top: 17px;
    left: 4px;
    padding: 3px;
    cursor: pointer;
}
#nav-icon,#nav-icon1,#nav-icon2 {
    width: 25px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon span,#nav-icon1 span,#nav-icon2 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #d3981a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon span:nth-child(1),#nav-icon span:nth-child(2), 
  #nav-icon1 span:nth-child(1),#nav-icon2 span:nth-child(2) {
    top: 18px;
  }
  #nav-icon.open span:nth-child(1),  #nav-icon1.open span:nth-child(1),  #nav-icon2.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(2),  #nav-icon1.open span:nth-child(2),  #nav-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
#panel .info--user .info--plan {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 8px;
    font-family: sans;
    transition: 0.5s;
}
.download .list--info {
    display: none;
}
#panel .post .plus:hover > .list--info {
    display: block;
}
#panel b {
    font-family: 'BKoodkBd','Nunito-LightItalic';
    font-weight: 100;
    color: #ffffff;
    box-shadow: 2px 2px 2px 0 rgb(24, 24, 24) inset;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #0808b425;
    font-size: 14px;
}
#panel .lists--info #sec-privet{
    text-align: left;
    display: inline-block;
    width: 190px;
    height: 42px;
    overflow: auto;
    line-height: 150%;
    transform: translateY(18px);
}
#panel .info--user .one{
    background: linear-gradient(to left,  rgb(74, 0, 224),rgb(142, 45, 226));
    border-bottom: 1px solid rgb(219, 166, 33);
}
#panel .info--user .two{
    background: linear-gradient(to left,rgb(150, 201, 61), rgb(0, 176, 155));
    border-bottom: 1px solid rgb(255, 251, 0)
}
 #panel .info--user .tree{ 
    background: linear-gradient(to left,rgb(44, 83, 100), rgb(32, 58, 67),rgb(15, 32, 39));
    border-bottom: 1px solid rgb(223, 169, 32);
    color: #ffffff;
    font-weight: 200;
}
#panel .info--user .list--info {
    line-height: 370%;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-family: sans;
}
#panel .logout {
    text-align: center;
    margin: 25px 0;
}
#panel .logout a {
    display: inline-block;
    color: rgb(189, 189, 189);
    padding:0 5px 8px 5px;
    border-bottom: 1px solid rgb(218, 165, 32);
}
#panel #check-active.active{
    color: rgb(0, 255, 0);
    letter-spacing: 1px;
    background-color: rgb(31, 31, 31);
}
#panel #check-active.inactive{
    color: rgb(255, 25, 0);
    letter-spacing: 1px;
    background-color: rgb(31, 31, 31);
}
/* ------------------------------- media ------------------------ */

@media screen and (min-width:1140px){
    #panel .info--panel .info---h1 {
        margin:0 auto 10px auto;
        font-size: 44px;
    }
}
